USE [master]
GO
/****** Object:  Database [DBDescargas]    Script Date: 4/22/2019 12:08:12 AM ******/
CREATE DATABASE [DBDescargas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBDescargas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\DBDescargas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBDescargas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\DBDescargas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBDescargas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBDescargas]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 4/22/2019 12:08:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_libro]    Script Date: 4/22/2019 12:08:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_libro](
	[id] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CATLIBRO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [int] NOT NULL,
	[producto] [varchar](100) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [real] NOT NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consecutivo]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consecutivo](
	[id] [int] NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[consecutivo] [varchar](30) NOT NULL,
	[prefijo] [varchar](30) NULL,
	[rango_inicial] [int] NOT NULL,
	[rango_final] [int] NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [PK_CONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error](
	[id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [PK_ERROR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero_musica]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero_musica](
	[id] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_GENMUSICA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero_pelicula]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero_pelicula](
	[id] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_GENPELICULA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libro]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libro](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [int] NOT NULL,
	[usuario] [int] NULL,
	[year] [int] NOT NULL,
	[idioma] [varchar](30) NOT NULL,
	[actores] [varchar](200) NOT NULL,
	[editorial] [varchar](50) NOT NULL,
	[url_descarga] [varchar](300) NOT NULL,
	[url_previsualizacion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musica]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musica](
	[id] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[usuario] [int] NULL,
	[genero] [int] NULL,
	[tipo_interpretacion] [varchar](30) NULL,
	[idioma] [varchar](50) NULL,
	[pais] [varchar](50) NULL,
	[disquera] [varchar](50) NULL,
	[disco] [varchar](50) NULL,
	[year] [int] NULL,
	[url_descarga] [varchar](50) NULL,
	[url_previsualizacion] [varchar](50) NULL,
 CONSTRAINT [PK_MUSICA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parametro]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parametro](
	[id] [int] NOT NULL,
	[previsualizacion] [varchar](300) NOT NULL,
	[almacenamiento] [varchar](300) NOT NULL,
	[tipo] [int] NOT NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [PK_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelicula]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[genero] [int] NOT NULL,
	[year] [int] NOT NULL,
	[idioma] [varchar](30) NOT NULL,
	[usuario] [int] NULL,
	[actores] [varchar](200) NOT NULL,
	[url_descarga] [varchar](300) NOT NULL,
	[url_previsualizacion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_PELICULA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 4/22/2019 12:08:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] NOT NULL,
	[usuario] [varchar](30) NOT NULL,
	[contrasenna] [varchar](30) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[primer_apellido] [varchar](30) NOT NULL,
	[segundo_apellido] [varchar](30) NOT NULL,
	[pregunta_seguridad] [varchar](50) NOT NULL,
	[rol] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categoria_libro] ([id], [nombre], [descripcion]) VALUES (1, N'Fantasia', N'Fantasia')
INSERT [dbo].[genero_musica] ([id], [nombre], [descripcion]) VALUES (1, N'Grunge', N'Grunge')
INSERT [dbo].[genero_pelicula] ([id], [nombre], [descripcion]) VALUES (1, N'Fantasia', N'Genero Fantasia')
INSERT [dbo].[libro] ([id], [nombre], [categoria], [usuario], [year], [idioma], [actores], [editorial], [url_descarga], [url_previsualizacion]) VALUES (1, N'Harry Potter y la piedra filosofal', 1, 1, 2001, N'Español', N'JK Rowling', N'Alguna', N'asdasdasd', N'asdasdasd')
INSERT [dbo].[libro] ([id], [nombre], [categoria], [usuario], [year], [idioma], [actores], [editorial], [url_descarga], [url_previsualizacion]) VALUES (2, N'IT', 1, 1, 1986, N'Español', N'Stephen King', N'Alguna', N'asdasdasd', N'asdasdasd')
INSERT [dbo].[musica] ([id], [nombre], [usuario], [genero], [tipo_interpretacion], [idioma], [pais], [disquera], [disco], [year], [url_descarga], [url_previsualizacion]) VALUES (1, N'Come as you are', 1, 1, N'Grupal', N'Ingles', N'USA', NULL, NULL, 1991, N'asdas', N'asdasdasasfasf')
INSERT [dbo].[musica] ([id], [nombre], [usuario], [genero], [tipo_interpretacion], [idioma], [pais], [disquera], [disco], [year], [url_descarga], [url_previsualizacion]) VALUES (2, N'Nutshell', 1, 1, N'Grupal', N'Ingles', N'USA', NULL, NULL, 1996, N'afsasfda', N'asdasdas')
INSERT [dbo].[pelicula] ([id], [nombre], [genero], [year], [idioma], [usuario], [actores], [url_descarga], [url_previsualizacion]) VALUES (1, N'Harry Potter y la piedra filosofal', 1, 2001, N'Ingles', 1, N'Daniel Radcliffe', N'asdasfdasdsadasdas', N'asdasdasdasd')
INSERT [dbo].[pelicula] ([id], [nombre], [genero], [year], [idioma], [usuario], [actores], [url_descarga], [url_previsualizacion]) VALUES (2, N'Avengers: End Game', 1, 2019, N'Ingles', 1, N'Thor', N'asdasfdasdsadasdas', N'asdasdasdasd')
INSERT [dbo].[rol] ([id], [nombre], [descripcion]) VALUES (1, N'Administrador', N'Admin')
INSERT [dbo].[usuario] ([id], [usuario], [contrasenna], [nombre], [primer_apellido], [segundo_apellido], [pregunta_seguridad], [rol]) VALUES (1, N'admin', N'admin', N'Juan', N'Perez', N'Perez', N'blablabla', 1)
INSERT [dbo].[usuario] ([id], [usuario], [contrasenna], [nombre], [primer_apellido], [segundo_apellido], [pregunta_seguridad], [rol]) VALUES (2, N'admin', N'marco', N'marco', N'perez', N'perez', N'blablabla', 1)
INSERT [dbo].[usuario] ([id], [usuario], [contrasenna], [nombre], [primer_apellido], [segundo_apellido], [pregunta_seguridad], [rol]) VALUES (3, N'JOSUE', N'123', N'JOSUE', N'GAITAN', N'QUESADA', N'blablabla', 1)
USE [master]
GO
